<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <title>Alyah</title>
    <link class="rounded-circle" href="/static/images/favicon.ico" rel="icon" />
    <link rel="stylesheet" href="/nd_md/tailwindcss/dist/base.min.css" />
    <link rel="stylesheet" href="/nd_md/tailwindcss/dist/utilities.min.css" />
    <link rel="stylesheet" href="/static/css/index.min.css" />
    <link rel="stylesheet" href="/static/css/error.min.css" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="xs-12 md-6 mx-auto text-3xl">
                <div id="countUp">
                    <div class="number">404</div>
                    <div class="text"></div>
                    <div class="text">Page not found</div>
                    <div class="text">This may not mean anything.</div>
                    <div class="text">I'm probably working on something that has blown up.</div>
                    <div class="text"> Do you want to go back to a safe place? <a href="/">here</a></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>