<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link class="rounded-circle" href="/static/images/favicon.ico" rel="icon" />
    <link rel="stylesheet" href="/nd_md/tailwindcss/dist/base.min.css" />
    <link rel="stylesheet" href="/nd_md/tailwindcss/dist/components.min.css" />
    <link rel="stylesheet" href="/nd_md/tailwindcss/dist/utilities.min.css" />
    <link rel="stylesheet" href="/static/css/index.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <!-- use double mustache for HTML-escaped interpolation -->
    <title>{{ title }}</title>

    <!-- use triple mustache for non-HTML-escaped interpolation -->
    {{{ meta }}}
</head>

<body class="bg-black">
    <div class="min-h-screen container mx-auto font-nunito py-10">
        <main>
            <div class="flex items-center justify-center mt-16 mx-6">
                <div class="p-6 max-w-sm w-full bg-color-secundary-dark shadow rounded-md">
                    <div class="py-10 flex justify-center">
                        <a href="/">
                            <img src="/static/images/logo2.png" class="object-center" alt="Logo Icon"
                                style="width:200px; height:34px;">
                        </a>
                    </div>
                    <h3 class="text-white text-xl text-center">Login</h3>
                    <form class="mt-4" method="POST" action="/login">
                        <input type="hidden" name="_token" value="96LGLQC0ylNCwHDLyTqFuBvSMwOqHi7voLu8lwj4">
                        <label class="block">
                            <span class="text-white text-sm">Email or Username</span>
                            <input id="email" name="email"
                                class="px-3 py-2 h-7 form-input mt-1 block w-full rounded-md bg-color-secundary border-gray-700 text-white"
                                value="" required autocomplete="email" autofocus>
                        </label>
                        <label class="block mt-3">
                            <span class="text-white text-sm">Password</span>
                            <input id="password" type="password"
                                class="px-3 py-2 h-7 form-input mt-1 block w-full rounded-md bg-color-secundary border-gray-700 text-white"
                                name="password" required autocomplete="current-password">
                        </label>
                        <div class="flex justify-between items-center mt-4">
                            <div>
                                <label class="inline-flex items-center">
                                    <input type="checkbox"
                                        class="form-checkbox text-blue-500 bg-gray-800 border-gray-600" name="remember"
                                        id="remember">
                                    <span class="mx-2 text-gray-200 text-sm">Remember Me</span>
                                </label>
                            </div>

                            <div>
                                <a class="block text-sm text-blue-500 hover:underline"
                                    href="http://localhost:8000/password/reset">
                                    Forgot Your Password?
                                </a>
                            </div>
                        </div>
                        <div class="mt-6">
                            <button type="submit"
                                class="w-full py-2 px-4 text-center bg-color-sucess rounded-md text-white text-sm hover:bg-blue-500 focus:outline-none">
                                Login
                            </button>
                        </div>
                        <p class="text-sm text-center text-white py-5">Don&#x27;t have an account yet? <a href="/signup"
                                class="text-blue-500 focus:outline-none focus:underline focus:text-indigo-500 dark:focus:border-indigo-800">Create
                                an account</a>.</p>
                    </form>
                </div>
            </div>
        </main>
    </div>
    <!-- Footer Mentions -->
    <div class="dark:bg-gray-900 bottom-5 w-full text-center text-gray-400">
        Josehpequeno © 2021
    </div>
    <!--vue-ssr-outlet-->
</body>

</html>