<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Alyah</title>
    <meta charset="utf-8" />
    <link class="rounded-circle" href="/static/images/favicon.ico" rel="icon" />
    <link rel="stylesheet" href="/nd_md/tailwindcss/dist/base.min.css" />
    <link rel="stylesheet" href="/nd_md/tailwindcss/dist/components.min.css" />
    <link rel="stylesheet" href="/nd_md/tailwindcss/dist/utilities.min.css" />
    <link rel="stylesheet" href="/static/css/index.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
</head>

<body class="bg-black">
    {{#if error}}
    <div id="alert" class="alert-banner w-full fixed top-0">
        <input type="checkbox" class="hidden" id="banneralert">
        <label
            class="text-4xl lg:text-xl close cursor-pointer flex items-center justify-between w-full p-2 bg-red-500 shadow text-white"
            title="close" for="banneralert">
            {{{error}}}
            <div onclick="closeAlert();">
                <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                    viewBox="0 0 18 18">
                    <path
                        d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
                    </path>
                </svg>
            </div>
        </label>
    </div>
    {{/if}}
    <div class="container mx-auto font-nunito py-10">
        <main>
            <div class="flex items-center justify-center lg:mt-0 mx-6 absolute lg:inset-x-0 lg:top-0">
                <div class="my-24 p-6 bg-color-secundary-dark shadow rounded-md h-full w-full lg:w-auto py-40 lg:p-6">
                    <div class="py-10 flex justify-center">
                        <a href="/" class="logo">
                            <img src="/static/images/logo2.png" class="object-center" alt="Logo Icon">
                        </a>
                    </div>
                    <h3 class="text-white text-6xl lg:text-2xl self-center text-center py-12 lg:py-2">Login</h3>
                    <form method="POST" action="/login">
                        <div class="mx-10 lg:mx-2 my-10 lg:mt-5 flex flex-col">
                            <input type="hidden" name="_token" value="96LGLQC0ylNCwHDLyTqFuBvSMwOqHi7voLu8lwj4">
                            <label class="block space-y-5 lg:space-y-2">
                                <span class="text-3xl lg:text-sm text-white">Email or Username</span>
                                <input id="email" name="email"
                                    class="text-3xl lg:text-sm px-3 py-2 h-16 lg:h-8 form-input mt-1 block w-full rounded-xl lg:rounded-md bg-color-secundary border-gray-700 text-white"
                                    {{#if user}} value="{{user.email}}" {{/if}} {{#else}} value="" {{/else}} required
                                    autocomplete="email" autofocus>
                            </label>
                            <label class="block mt-6 lg:mt-3 space-y-5 lg:space-y-2">
                                <span class="text-white text-3xl lg:text-sm">Password</span>
                                <input id="password" type="password"
                                    class="text-3xl lg:text-sm px-3 py-2 h-16 lg:h-8 form-input mt-1 block w-full rounded-xl lg:rounded-md bg-color-secundary border-gray-700 text-white"
                                    name="password" required autocomplete="current-password">
                            </label>
                            {{!-- :TODO: [] fazer implementação do 'remember me' e 'forgot your password' no futuro se
                            necenssário --}}
                            {{!-- <div class="flex justify-between items-center mt-4">
                                <div>
                                    <label class="inline-flex items-center">
                                        <input type="checkbox"
                                            class="form-checkbox text-blue-500 bg-gray-800 border-gray-600"
                                            name="remember" id="remember">
                                        <span class="mx-2 text-gray-200 text-sm">Remember Me</span>
                                    </label>
                                </div>

                                <div>
                                    <a class="block text-sm text-blue-500 hover:underline"
                                        href="http://localhost:8000/password/reset">
                                        Forgot Your Password?
                                    </a>
                                </div>
                            </div> --}}
                            <div class="mt-12 lg:mt-6">
                                <button type="submit"
                                    class="w-full py-6 lg:py-2 px-4 text-center bg-color-sucess rounded-xl lg:rounded-md text-white text-3xl lg:text-sm hover:bg-blue-500 focus:outline-none">
                                    Login
                                </button>
                            </div>
                            <p class="text-3xl lg:text-sm text-center text-white py-10 lg:py-5">Don&#x27;t have an
                                account yet? <a href="/signup"
                                    class="text-blue-500 focus:outline-none focus:underline focus:text-indigo-500 dark:focus:border-indigo-800">Create
                                    an account</a>.</p>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
    <script src="/nd_md/jquery/dist/jquery.min.js"></script>
    <script src="/nd_md/jquery/dist/jquery.slim.min.js"></script>
    <script src="/nd_md/popper.js/dist/umd/popper.min.js"></script>
    <script>
        function closeAlert() {
            $('#alert').addClass('hidden');
        }
    </script>
</body>

</html>