body {
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover
}

.color-primary {
    color: #3B3F62
}

.bg-color-primary {
    background-color: #3B3F62
}

.color-primary-dark {
    color: #0C0D14
}

.bg-color-primary-dark {
    background-color: #0C0D14
}

.color-primary-light {
    color: #626581
}

.bg-color-primary-light {
    background-color: #626581
}

.color-secundary {
    color: #5C5C5C
}

.bg-color-secundary {
    background-color: #5C5C5C
}

.color-secundary-dark {
    color: #121212
}

.bg-color-secundary-dark {
    background-color: #121212
}

.color-secundary-light {
    color: #7D7D7D
}

.bg-color-secundary-light {
    background-color: #7D7D7D
}

.color-light {
    color: #FBFBFB
}

.bg-color-light {
    background-color: #FBFBFB
}

.color-light-dark {
    color: #FBFBFB
}

.bg-color-light-dark {
    background-color: #FBFBFB
}

.color-light-light {
    color: #FFFFFF
}

.bg-color-light-light {
    background-color: #FFFFFF
}

.color-danger {
    color: #DC1818
}

.bg-color-danger {
    background-color: #DC1818
}

.color-sucess {
    color: #278D75
}

.bg-color-sucess {
    background-color: #278D75
}

.button:hover {
    color: black
}

.manga img {
    max-width: 400px;
    max-height: 225px;
    width: auto;
    height: auto
}

p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical
}

.min-w-80 {
    min-width: 20rem
}

.resize::-webkit-resizer, .resize-x::-webkit-resizer, .resize-y::-webkit-resizer {
    background-color: transparent
}

.resize:after, .resize-x:after, .resize-y:after {
    display: block;
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
    content: '\F045D';
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: 24px;
    text-rendering: auto;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgba(0, 0, 0, 0.3)
}

.manga-fav img {
    max-width: 400px;
    max-height: 225px;
    height: auto;
    width: 100%;
    min-height: auto;
    background-size: 100%;
    background-repeat: no-repeat
}

.manga-page img {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-size: cover;
    height: auto;
    min-height: 100vh;
    max-height: 100vh;
}

@media screen and (min-height: 600px) {
    .manga-page img {
        max-height: 100vh;
        height: auto;
    }
}